Project/AMP_MVC5/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AMPWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AMPWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblLocation" nillable="true" type="tns:tblLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblLocation" nillable="true" type="tns:ArrayOftblLocation" />
  <xs:complexType name="tblLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="LocationID" type="xs:int" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblLocation" nillable="true" type="tns:tblLocation" />
</xs:schema>